%header#global-header.with-proposition.lr-header{ role: "banner" }
  .header-wrapper
    .header-global
      .header-logo
        %a.content{ href: 'https://www.gov.uk/government/organisations/land-registry/', title: I18n.t('common.header.home_link') }
          = image_tag('hm_lr_logo.png', srcset: image_path('hm_lr_logo.svg'), alt: "HM Land Registry logo")

    .header-proposition.lr-header--header-proposition
      .content
        = link_to(t('common.header.menu_text'), '#proposition-links', class: 'js-header-toggle menu')
        %nav#proposition-menu
          = LrCommonConfig.app_link( "/", request, 'lr-header--proposition-name' )
          %ul#proposition-links
            %li
              = LrCommonConfig.app_link( "ukhpi", request, 'lr-header--header-proposition--a' )
            %li
              = LrCommonConfig.app_link( "ppd", request, 'lr-header--header-proposition--a' )
            %li
              = LrCommonConfig.app_link( "standard-reports", request, 'lr-header--header-proposition--a' )
            %li
              = LrCommonConfig.app_link( "qonsole", request, 'lr-header--header-proposition--a' )
