!!! html
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title
      = (yield(:title) + " - " unless yield(:title).blank?).to_s + I18n.t('common.header.app_title')

    - if Rails.env.production?
      = render partial: 'shared/google-analytics'

    = javascript_include_tag :modernizr
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{ rel: "apple-touch-icon", sizes: "180x180", href: image_path( "favicon/apple-touch-icon.png" )}
    %link{ rel: "icon", type: "image/png", href: image_path( "favicon/favicon-32x32.png" ), sizes: "32x32"}
    %link{ rel: "icon", type: "image/png", href: image_path( "favicon/favicon-16x16.png" ), sizes: "16x16"}
    %link{ rel: "manifest", href: image_path( "favicon/manifest.json" )}
    %link{ rel: "mask-icon", href: image_path( "favicon/safari-pinned-tab.svg" ), color: "#5bbad5"}
    %link{ rel: "shortcut icon", href: image_path( "favicon/favicon.ico" )}

    %meta{ name: "msapplication-config", content: image_path( "favicon/browserconfig.xml" )}
    %meta{ name: "theme-color", content: "#ffffff"}

    - if @preferences
      %link{ rel: "canonical", href: "http://#{request.host_with_port}#{@preferences.as_path( :view )}"}

    /[if lt IE 9]
      %script{ src: "assets/html5shiv.js", type: "application/javascript"}
      %script{ src: "assets/respond.min.js", type: "application/javascript"}

  %body{ class: "government website lr lr-app" }
    = render partial: "shared/cookie_banner"
    = render partial: 'shared/skip_to_main_content'
    = render partial: "shared/header"
    .o-lr-top-bar

    -# Unsure if this is needed but maintaining until proven otherwise [JRH ~ 2025-03]
    -# =render partial: "common/flash_message"

    %main#main-content.container.o-container{ role: "main"}
      .row
        .col-md-12
          = yield
          = render partial: "shared/feedback"

    = render partial: "shared/footer"
    = render partial: "shared/puma_stats" if Rails.env.development?
