!!! html
%html
  %head
    %title #{LrCommonConfig.page_title}
    = javascript_include_tag :modernizr
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "favicon"

    %script{ type: "text/javascript", src: "https://apis.google.com/js/plusone.js"}
      {"parsetags": "explicit"}

    - if @preferences
      %link{ rel: "canonical", href: "http://#{request.host_with_port}#{@preferences.as_path( :view )}"}

    /[if lt IE 9]
      %script{ src: "assets/html5shiv.js", type: "application/javascript"}
      %script{ src: "assets/respond.min.js", type: "application/javascript"}

  %body{ class: "government website lr #{LrCommonConfig.application_css_class}" }

    %header#global-header.with-proposition.lr-header{ role: "banner" }
      .header-wrapper
        .header-global
          .header-logo
            %a.content{ href: LrCommonConfig.lr_logo_link_href, title: LrCommonConfig.lr_logo_link_title }
              = image_tag( LrCommonConfig.lr_logo_link_image )
        .header-proposition.lr-header--header-proposition
          .content
            %a.js-header-toggle.menu{ href: "#proposition-links"}
              Menu
            %nav#proposition-menu
              %a#proposition-name.lr-header--proposition-name{ href: LrCommonConfig.home_path }
                Land Registry Open Data
              %ul#proposition-links
                %li
                  = LrCommonConfig.app_link( "ukhpi", "UK House Price Index", request )
                %li
                  = LrCommonConfig.app_link( "ppd", "Price Paid Data", request )
                %li
                  = LrCommonConfig.app_link( "standard-reports", "Standard reports", request )
                %li
                  = LrCommonConfig.app_link( "qonsole", "SPARQL Query", request )

    .o-lr-top-bar


    -# =render partial: "common/flash_message"

    %main.container.o-container{ role: "main"}
      .o-beta-banner
        %p
          %strong.o-beta-tag BETA
          %span.text-muted
            This is a new service – your <a href="mailto:commercial.services@landregistry.gov.uk">feedback</a> will help us to improve it.
      .row
        .col-md-12
          = yield

    = render partial: "shared/footer"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21165003-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
